*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header{
	background: #333;
	color: black;
	padding: 2rem 0;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}

 .header a{
 	color: white;
 	text-decoration: none;
 }

body{
	margin:0;
}

.nombre{
	margin-left: 70px;
	margin-right: 70px;
}

.nombre-nav{
	margin-right: 450px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

 .navigation ul li{
 	display: inline-block;
 }

   .navigation ul li a{
 	display: block;
 	padding: 0.5rem 1em;
 	transition: all 0.4s linear;
 	border-radius: 5px;
 }

   .navigation ul li a:hover{
  	background: #4a4a4a;
   }

   .nombre{
   	letter-spacing: 15px;
   	font-size: 1.4em;
   }

.cabecera{
	background-image: url(main.jpg);
	height: 800px;
	background-size: cover;
	display: flex;
	overflow: hidden;
}

 .texto{
  color: black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
 }

.texto h1{
  display: inline;
  font-size: 50px;
  margin: 4%;
  background: rgb(210, 214, 255, .75);
  border-radius: 2%;
  font-family: 'Inconsolata', monospace;
  font-weight: 900;
}